.logged-menu-bar{

  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
  overflow: visible;
}
.logged-menu-bar-left{
  display: flex;
}
.logged-menu-bar-left li:first-child{
  display: flex;
  align-items: baseline;
  font-size: 18px;
  font-weight: 550;
}
.logged-menu-bar-left input{
  width: 260px;
  height: 40px;
  background-color: #f3f3f3;
  color: #747474;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  
}
.logged-menu-bar-left button{
  width: 40px;
  height: 40px;
  background-color: #f3f3f3;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

  
.logged-menu-bar-right{
  display: flex;
  position: relative;
  z-index: 5;
}
.logged-menu-bar-right button{
  width: 55px;
  height: 55px;
  background-color:white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 7;


}


.logged-menu-bar-right button:hover{
    background-color: #f3f3f3;
}

.dropdown {
  position: absolute;
  background-color: white;
  right: 5px;
  width: 230px;
  height: auto;
  z-index: 9999;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
}

.dropdown ul{
  margin-left: 20px;
}
.dropdown ul li {
  margin-top: 20px;
}
.dropdown ul li:nth-child(4) {
  border-bottom: 1px dotted lightgray;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.dropdown ul li:nth-child(5) {
  /* border-bottom: 1px dotted lightgray; */
  margin-bottom: 20px;
  /* padding-bottom: 20px; */
}


.dropdown button{
  width: auto;
  height: 30px;
}
