.login-main{
  background: #f3f3f3;
  height: 620px;
  font-size: 13px;
  /* margin-bottom: 145px; */
  z-index: 9999;
}
.login-main a:hover {
  text-decoration: none;
}


.login-header{
  box-sizing: border-box;
  display: flex;
  background-color: #DDDDDD;
  padding-top: 40px;
  height: 105px;
  font-size: 24px;
  padding-left: 12%;
  font-weight: 700;
  z-index: 9999;

}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  height: 620px;
  width: 100vw;
  background-color:#f3f3f3;

  
}

.login-form h4 {
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  height: 115px;
  border-bottom: 2px dotted lightgray;
  width: 50%;
  margin: 0;
}

.inside-form{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.inside-form label{
  font-size: 16px;
  /* margin-right: 20px; */
  margin-bottom: 10px;
}

.inside-form label input[type=text]{
  width: 300px;
  height: 35px;
  background-color: white;
  border: solid lightgray 1px;
  margin-right: 147px;
  margin-left: 20px;

}
.inside-form label input[type=password]{
  width: 300px;
  height: 35px;
  background-color: white;
  border: solid lightgray 1px;
  margin-right: 90px;
  margin-left: 20px;


}
.inside-form button{
  width: 300px;
  height: 35px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-align: center;
  background-color: #00a1c6;
  border: solid lightgray 1px;
  margin-bottom: 75px;
}

.login-main h6{
  font-size: 12px;
}
.login-main h6 a {
  
  color: rgba(59, 172, 221, 1);
}


