.main{
  /* margin-top: auto; */
  margin-bottom: 100px;

}

.logged-in{
  margin-top: 55px;
}

.not-logged-in{
  margin-top: 110px; 
}

.main h1 {
  color: red;
  font-size: 36px;
}

.main-images-list{
  width: 100%;
  height: 420px;
}
img {max-width:100%;}

.main-images-list .larger-image img{
  height: 420px;
  width: 100%;
}
.main-images-list .smaller-image li img{
  height: 137px;
  width: 100%;
}

.main-images-list .larger-image{
  width: 74.20%;
  float: left;
  margin-right: 1px;
}
.main-images-list .smaller-image{
  width: 25.6%;
  margin-left: 1px;
  float: left;
}

.main-text{
  font-size: 18px;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.selling-now a{
  color: #408ea3;
  font-size: 14px;
  font-weight: 500;
}

.selling-now{
  margin: 20px 11%;

}
.selling-now-list{
  margin-bottom: 30px;
}

.selling-now-list ul{
  margin: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: 1.5s ease-in-out
  

}

.selling-now-list ul li img{
  height: 115px;
  width: 115px;
  align-self: center;
}

.selling-now-list ul li{
  width: 9.5%;
  height: 225px;
  font-size: 11px;
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
}

.selling-now-list ul li:hover{
  background-color: #eef2f3;
}
.musiccamp-daily {
  background-color: #eef2f3;
  padding-top: 40px;
  padding-bottom: 20px;
  /* margin: 0 11%; */
}

.musiccamp-daily-link {
  margin: 0 11%;
  margin-bottom: 20px;
}
.musiccamp-daily-link a{
  color: #408ea3;
  font-size: 14px;
  font-weight: 500;
}



.daily-list{
  margin: 0 11%;
  height: 280px;
}

.daily-list ul {
  display: flex;
}
.daily-list ul li{
  background-color: white;
  margin-left: 10px;
  margin-top: 0px;
  height: 280px;
  display: flex;
  /* flex-flow: row wrap; */
  /* word-wrap: break-word; */
}
.daily-list ul li:first-child{
  flex: 3.1 1 0;
  margin-left: 0px;
}
.daily-list ul li:nth-child(2n){
  flex-flow: row wrap;
  flex: 1 1 0;
}
.daily-list ul li:last-child{
  flex-flow: row wrap;
  flex: 1 1 0;
}



/* .daily-list ul li:first-child{
  width: 100%;
} */
.daily-list ul li img{
  height: 140px;
}

.daily-list ul li:first-child img{
  height: 280px;

}
.bottom-list ul{
  display: flex;
  height: 280px;
  margin: 0 11%;
  margin-top: 20px;
}

.bottom-list ul li{
  flex: 1 1 0;
  margin-left: 10px;
  background-color: white;
  margin-top: 0px;
  display: flex;
  flex-flow: row wrap;
  word-wrap: break-word;
}
.bottom-list ul li:first-child{
  margin-left: 0px;
}





