.show-song-main{

display: flex;
justify-content: center;
align-content: space-around;
margin-bottom: 40px;
}

audio{

  width: 350px;
  height: 75px;
  /* float: right; */
}
.show-song-main div p:nth-child(2){
  font-weight: bold;
  font-size: 24px;
}


