.artist-page h1{
  margin: 25px 11%;
  color: #1ea0c3;
  border-bottom: 1px solid lightgray;
  font-size: 24px;
  font-weight: bold;
}

.artist-albums ul{
  display: flex;
  height: 255px;
  margin: 0 11%;
  margin-top: 20px;
  font-size: 13px;
}

.artist-albums ul li {
  flex: 1 1 0;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  margin-top: 0px;
  display: flex;
  flex-flow: row wrap;
  word-wrap: break-word;
}
.artist-albums ul li img{
  height: 180px;
  width: fit-content;
}