.album-show{
  margin: 0px 11% 40px 11% ;
  border: lightgrey solid 1px;
  // background-color: lightgray;

  .album-top-bar{
    display: flex;
    align-items: center;
    height: 40px;
    background: #e6e6e6;
    margin-bottom: 45px;
    p {
      font-weight: 700;
      margin-left: 40px;
    }
  }

  .album-content{
    display: flex;
    flex-direction: row;

    .main-content{
      margin: 0px 32px 20px 32px;
      flex: 4.5 1 0;

      .album-title{

        h1 {
          font-size: 28px;
          margin-bottom: 10px;
        }
        p {
          font-size: 14px;

          a {
                color: #3393f6
          }
        }

      }

    }

    .album-picture{
      flex: 3.5 1 0;
    }

    .album-artist{
      margin: 0px 32px 20px 40px;
      flex: 2 1 0;
    }

  }

  .stream-download{
    margin-bottom: 15px;
    p:first-child{
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 12px;
    }
    p:nth-child(2){
      font-size: 12px;
      font-weight: lighter;
      color: #898a89;
      margin-bottom: 15px;
    }
    p:last-child{
      font-size: 13px;
    }
  }

  .song-index{
    margin-bottom: 15px;
    ul {
      li {
        button{
          border: 1px solid lightgray;
        }
        span{
          color: #898a89;
          font-size: 14px;
        }
        a {
          color: #3393f6;
          font-size: 14px;
        };
      }
    }
  }

  .album-description{
    p{
      font-size: 13px;
    }
  }
}