.album-show{
  margin: 180px 16% 40px 16% ;

  .album-top-bar{
    display: flex;
    align-items: center;
    height: 40px;
    background: #e6e6e6;
    margin-bottom: 45px;
    p {
      font-weight: 700;
      margin-left: 40px;
    }
  }


}