.player{
  margin: 30px 0px;
  height: 55px;

  .player-button {
    width: 50px;
    height: 55px;
    border: 1px solid lightgray;
    margin-right: 12px;
    display: flex;
    button{
      align-items: center;
    }
  }
  .player-side{
    margin-left: 70px;
    position: relative;
    bottom: 60px;
  }
  .player-info{
    display: flex;
    margin-top: 10px;

    p:first-child{
      font-weight: 700;
      font-size: 13px;
      margin-right: 10px;
    }
    p:last-child{
      font-size: 13px;
      color: #898a89;
      letter-spacing: -.5px;
    }
  }

  .scroll-skip{
    display: flex;
    position: relative;
    bottom: 15px;
    button{
      margin-left: 15px;
      margin-bottom: 3px;
    }
  }
}