.login-main{
  background: #f3f3f3;
  height: 100%;
  font-size: 3em;
}


.login-header{
  display: flex;
  background-color: #DDDDDD;
  /* width: 100%; */
  /* height: auto; */
  height: 105px;
  font-size: 3em;
  padding-left: 12%;

  font-weight: bold;
}

.login-form{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  height: 100vh;
  width: 650px;
}
/* .inside-form{

} */
.inside-form label input[type=text]{
  width: 300px;
  height: 35px;
  background-color: white;
  border: solid lightgray 1px;
}
.inside-form label input[type=password]{
  width: 300px;
  height: 35px;
  background-color: white;
  border: solid lightgray 1px;
}
.inside-form button{
  width: 300px;
  height: 35px;
  background-color: white;
  border: solid lightgray 1px;
}

/* .inside-form{
  display: flex;
} */