
html, body, header, nav, h1,
ul, li, button, a,
section, img, div, h2, h6, p, form,
label, input, textarea,
span, footer {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 13px;
  line-height: 1.23077;
  font-family:' Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  /* height: 100%; */
  /* width: 100%; */
}

ul {
  list-style: none;
}